#movie-list {

    display: flex;
    gap: 30px;
}

#movie-container {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    scroll-behavior:smooth;
    margin: 40px 0 0 0;
    scrollbar-width: none;
}


.movie-card {

    position:relative;

    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;

    border-radius: 12px;
    overflow: hidden;

    text-decoration: none;
    color:white;

    transition: 0.2s;

}

.movie-card:hover{
    filter:brightness(70%);
}


.movie-card img{
    height: 307.5px;
    width: 205px;
    display: block;
}

.movie-info {
    position:absolute;
    bottom: 0;
    left: 0;
    right: 0;

    display:flex;
    flex-direction: column;
    gap: 0px;

    padding: 0px 12px 8px;


    background: linear-gradient(
        transparent,
        rgba(0, 0, 0, 0.9));
    text-shadow: 0 1px 2px black;

    
}


.movie-rating {
    margin-top: 30px;
    margin-bottom: 0px;
}

.movie-title {
    margin: 0;
    margin-bottom: 5px;
}